{% if user.is_authenticated %}
    <h2>You name is: {{ user.username }}</h2>
{% else %}
    <h2>You are not logged in.</h2>
    <a href="../accounts/login"><p>Click here to log in</p></a>
{% endif %}


<h1>{{ blog.name }}</h1>
<h2>{{ blog.tagline  }}</h2>

{% if blog.entry_set %}
    <ul>
    {% for entry in blog.entry_set.all %}
        <li>
<!--            <h2>{{ entry.blog }}</h2>-->
            <a href="/blog/entry/{{ entry.id }}/"><h2>{{ entry.headline }}</h2></a>
<!--            <h3>{{ entry.body_text }}</h3>-->
            <p>Published Date: {{entry.pub_date}}</p>
            <p>Author:
                {% for authors in entry.authors.all %}
                    {{authors}}
                {% endfor %}</p>
            <p>Comments: {{entry.number_of_comments}}</p>
            <p>Ratings: {{entry.rating}}</p>
            <br>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No entries are available.</p>
{% endif %}

{% if user.is_authenticated %}
    <a href="accounts/login"><p>Create an entry</p></a>
{% else %}
    <h2>You are not logged in.</h2>
    <a href="accounts/login"><p>log in to create an entry</p></a>
{% endif %}


